@font-face {
font-family: Cambria;
src: url(resouces/Cambria.ttf);
}

@font-face {
font-family: Didot;
src: url(resouces/Didot.ttf);
}

body {
  background-color: #97b9fd;
  /*background: url("Background.png") no-repeat center center;*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* Start "to top" button making css */
.toTop {
  background-color: transparent;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99; /* W3Schools had this so I suppose its good to leave */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 200px;
  opacity: .65;
}

.toTop:hover {
  opacity: .9;
  /* maybe an animation here in the future ¯\_(ツ)_/¯ */
}
/* End "to top" button making css */

.textBox {
  width: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.textLeft {
  width: 40%;
  height: 200px;
  float: left;
  text-align: center;
  padding-left: 20%;
  padding-bottom: 25px;
}

.textRight {
  width: 20%;
  height: 200px;
  float: right;
  text-align: center;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 25px;
}

#main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
	width: 80%;
}

@media screen and (max-width: 700px) {
	#main {
		width: 100%;
	}
}


.box0 {
    min-height: 300px;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
}

.box1 {
    min-height: 300px;
    background-color: #e3eaff;
}

.box2 {
    min-height: 300px;
    background-color: #fff;
}

.end {
  border-radius: 0 0 25px 25px;
}

.light-grey {
color:#000!important;
background-color:#f1f1f1!important;
}

.rounded {
border-radius:8px;
}

.bar-container {
padding:.01em 16px;
}

.blue {
color:#fff!important;
background-color:#2196F3!important;
}

.padded {
  margin-top: 20px;
}

h3 {
  padding-top: 25px;
}

li {
  padding-top: 10px;
}

footer {
  text-align: center;
  padding-top:50px;
  padding-bottom:25px;
  width: 100%;
}

b {
  font-size:120%
}

i {
  font-size:85%;
  color: #7a7a7a;
}
